﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OrdaBurda</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("OrdaBurda", "Index", "Home")</li>
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                    <li style="margin-right:75px">@Html.ActionLink("İletişim", "Contact", "Home")</li>
                </ul>
                <input type="search" style="margin-top:10px" />
                <input type="button" value="Ara" style="margin-top:10px" />
                <select style="margin-left:200px">
                    <option value="volvo">Türkçe</option>
                    <option value="saab">İngilizce</option>

                </select>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div >
    <div >
    <div class="row">

        <div class="col-md-2" style="margin-left:30px">
           
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="panel panel-default" >
                        <pre style="font-size:20px  "> Katagoriler</pre>
                        <div class="panel-body" style="margin-left:16px">  <input type="button" style="font-size:15px" value="   +    Ekle      " /> </div>
                    </div>

                    <div class="panel panel-default" >
                        <pre style="font-size:20px ">  Şehirler</pre>
                        <div class="panel-body" style="margin-left:16px">  <input type="button" style="font-size:15px" value="   +    Ekle      " /> </div>
                    </div>
                   
                    <div class="panel panel-default" >
                        <pre style="font-size:18px"> Fiyat Aralığı</pre>
                        <div class="panel-body">
                            <form action="">
                                 <input type="text" size="3" /> -  <input type="text" size="3" /> <br />

                            </form>
                        </div>
                    </div>
                    <input type="button" value="TARA" style="margin-left:60px">
                </div>
                    </div>
                </div>
        <div class="col-md-4" ">
            <h1>Şemsettin ÇELİK</h1>
            <h1>G151210014</h1>
        </div>

    </div>
        <div class="container body-content">
            @RenderBody()

            <hr />
        </div>
        <footer>
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container">
                    <ul class="nav navbar-nav">  
                        <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                        <li style="margin-left:890px">@Html.ActionLink("İletişim", "Contact", "Home")</li>
                    
                    </ul>
                   <br />
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                        <li style="margin-left:850px">@Html.ActionLink("Sıkça Sorulan Sorular", "About", "Home")</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>